<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Component 3</title>
</head>
<body>
  <a  href="../../index.html">
    <img class="close-btn" src="./assets/close.svg" alt="Close">
  </a>
  <div class="container">
    <div class="item-1">
      <label for="btn-1">OBJECT TYPE</label>
      <button class="btn btn-icon" id="btn-1">Select an object type
      </button>
      <div class="content">
        <div class="sub-content"></div>
      </div>
    </div>
    <div class="item-2">
      <label for="btn-2">OBJECT TYPE</label>
      <button class="btn btn-icon" id="btn-2">Select an object type</button>
      <div class="content">
        <div class="sub-content">
          <img src="./assets/circles.svg" alt="Circle Icons">
        <div class="text">
          <span class="t-1">NO OBJECT TYPE IN HERE YET</span>
          <span class="t-2">The object type that you`ll create will apear here</span>
        </div>
        </div>
        <button class="btn-make">+ Create an Object Type</button>
      </div>
    </div>
    <div class="item-3">
      <label for="btn-3">OBJECT TYPE</label>
      <button class="btn btn-icon" id="btn-3">Select an object type</button>
      <div class="content">
        <div class="sub-content a-l">
          <ul>
            <li class="obj">
              <img class="elem" src="./assets/person.svg" alt="Persona">
              <span>Persona</span>
            </li>
            <li class="obj">
              <img class="elem" src="./assets/book.svg" alt="Book">
            <span>Book</span>  
            </li>
            <li class="obj">
              <img src="./assets/exercise.svg" alt="Exercise" class="elem">
              <span>Exercise</span>
            </li>
            <li class="obj">
              <img src="./assets/hand-money.svg" alt="Income" class="elem">
              <span>Income</span>
            </li>
            <li class="obj">
              <img src="./assets/expense.svg" alt="Expense" class="elem">
              <span>Expense</span>
            </li>
          </ul>
        </div>
        <button class="btn-make">+ Create an Object Type</button>
      </div>
    </div>
  </div>
  <script src="./main.js"></script>
</body>
</html>