body {
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1000px;
  min-height: 700px;
  margin: auto;
}

.item-1,
.item-2,
.item-3 {
  width: 272px;
  min-height:325px;
}

.btn,
.item-1 label,
.item-2 label,
.item-3 label{
  color: #767586;
  display: block;
  width: 100%;
  font-size: 0.7rem;
  font-weight: bold;
}

.btn {
  background-color: white;
  border-radius: 4px;
  color: #b9bbbc;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}

.btn-icon {
  background-image: url('./assets/arrow-up.svg');
  background-repeat: no-repeat;
  background-position: 15rem;
}

.btn-icon-1 {
  background-image: url('./assets/arrow-down.svg');
}

img {
  width: 200px;
  height: 120px;
  margin: 0 auto;
}

.content {
  display: none;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.sub-content {
  min-height: 220px;
  margin: auto;
}

.a-l {
  margin: 0;
}

.clip-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: inherit;
  border: 1px solid #f3f5f7;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.text {
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.t-1 {
  display: block;
  margin: auto;
  ;
  font-size: 0.6rem;
  font-weight: bold;
}

.t-2 {
  color: #787981;
  display: block;
  margin: 0.3rem auto;
  font-size: 0.6rem;
  max-width: 70%
}

.btn-make {
  cursor: pointer;
  background-color: #f3f5f7;
  border: 1px solid #f3f5f7;
  margin: 0.5px;
  padding: 1rem;
  font-weight: bold;
}

.content ul {
  list-style-type: none;
  padding: 0.5rem;
}

.content ul li {
  padding: 0.5rem;
}

.obj {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.elem {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 0;
}

.item-1 span {
  display: inline-block;
}

.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}