<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <title>Component 1</title>
</head>

<body>
  <div class="con-1">
    <div class="card">
      <div class="close">
        <span class="material-symbols-outlined" style="font-size: 1rem;">
          close
        </span>
        <br>
        <span style="float: right; font-size: 0.5rem;">Close</span>
      </div>
      <h4>Setting</h4>
      <div>
        <p class="b-t">Language
        <p>
        <p>Let`s know which language you are most confortable using. You can change it back at any time. </p>
      </div>
      <div class="s-item">
        <span class="material-symbols-outlined expand">
          expand_more
        </span>
        <select id="language"aria-label="Default select example">
          <option class="option" value="" selected></option>
          <option class="option" value="english">English</option>
          <option class="option" value="spanish">Spanish</option>
        </select>
      </div>
      <hr>
      <div class="item">
        <div class="video-txt">
          <p class="b-t">Autoplay videos</p>
          <p>Choose if you want to play on yor browser.</p>
        </div>
        <div>
          <label class="switch">
            <input id="video" type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="item">
        <div class="profile-txt">
          <p class="b-t">Show profile photos</p>
          <p>Choose whether to show or hide profile photos of other members.</p>
        </div>
        <div>
          <label class="switch">
            <input id="profile" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="video-btn">
        <button class="btn-1">Save</button>
        <button class="btn-2">Cancel</button>
      </div>
    </div>
  </div>
  </div>
  <script src="./main.js"></script>
</body>

</html>