body{
  font-family: 'Poppins', sans-serif;
}
.con-1{
  width: 629px;
  height: 590px;
  margin:auto;
  background-color: #f2f2f2;
  background-image: url(./assets/back.svg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.close{
  float: right;
  padding: 0.5rem 0.5rem 0 0;
  font-size: 0.3rem;
  cursor: pointer;
  color: #814281;
}
.close p{
  width: 2rem;
}
.card{
  width: 60%;
  height: 65%;
  background-color: white;
  border-radius: 1rem;
  padding-left: 2rem;
  padding-top: 1rem;
}
h4,
h5,
.b-t{
  color: #8e4d88;
}
.s-item{
  padding: 0.5rem 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.expand{
  position: absolute;
  left: 8.5rem;
  top: 0.9rem;
  cursor: pointer;
  pointer-events: none;
}
.switch{
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  border: 1px solid #eaeced;
  border-radius: 8px;
  top: 2rem;
  left: 2rem;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  bottom: 0px;
  background-color: #9398ad;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  background-color: #894187;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.b-t{
  font-size: 0.6rem;
  font-weight: 550;
}
.p-1{
  border-top: 1px solid #eaeced;
  padding-top: 1rem;
}
p{
  font-size: 0.6rem;
  font-weight: 100;
  width:16rem;
}
.video-btn{
  margin: 2rem 0rem;
  display: flex;
  justify-content: start;
  gap: 1rem;
}
.item{
  display: flex;
}
button{
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  display: block;
  width: 5rem;
}
.btn-1{
  background-color: #f24b8d;
  color: white;
}
.btn-2{
  background-color: white;
  color: black;
}
hr{
  width: 85%;
  margin: 1rem 0 1rem 0;
  color: #eaeced;

}
.l-i{
  background-color: #f24b8d;
  color: white;
}
select{
  width: 10rem;
  padding: 0.5rem;
  border: 1px solid #e7e5ef;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}